.abouteFact{
    background: linear-gradient(rgba(255, 253, 253, 0.25), rgba(0, 0, 0, 0.38)),  url('../img/R_bg/kolesa.jpg');
    height: 500px;
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-attachment: fixed;
    transition: all 0.4s;
  
}
