.ourPeople{
    min-height: 100vh;
    background-color: #fff;
    background: linear-gradient(rgba(255, 253, 253, 0.25), rgba(0, 0, 0, 0.38)),  url('../img/R_bg/Photo-49.jpg');
    background-size: cover;
}