#page_info{
    background-color: #fff;
    .mainSection{
        height: max-content;
        min-height: auto;
    }
    .mainSection{
        .row_header{
            border-bottom: 1px solid #888;
            margin: 0 0 200px 0;
        }
        .header_title{
            background-image: url('/img/R_bg/remont-avtomobilnykh-diskov.png');
            background-repeat: no-repeat;
            background-position: right bottom; 
            @media screen and (max-width: 1300px) {
                background-size: 60%;    
            }
            @media screen and (max-width: 500px) {
                background-image: none;
                padding: 0 0 100px 0;
            }
            min-height: max-content;
            height: 65vh;
            .text_block{
                .theme_day{
                    text-transform: uppercase;
                    padding: 10px 0 0 10px;
                    text-align: center;
                    font-size: 2em;
                    color: #666;
                    position: relative;
                    top: 100px;
                }
                .title{
                    font-size: 3.5em;
                    text-align: center;
                    margin: 150px 0 50px 0;
                    @media screen and (max-width: 500px) {
                        font-size: 2em;
                    }
                    mark{
                        background-color: transparent;
                    }
                }
            }
        }
    }
}   