section.section_6{
    min-height: 310px;
    padding-top: 60px;
    background: #fff;
    .wrapper{
        // padding: 0;
    }
    img{
        margin: 15px auto;
        display: block;
        height: 70px;
    }
}