
@import 'variable.scss'                 ;
@import 'button/button.scss'            ;
@import 'mainSection/mainSection.scss'  ;
@import 'mainSection/header.scss'       ;
@import 'effect/effect.scss'    ;
@import 'mainSection/mobile_menu.scss';
@import 'section_1.scss'        ;
@import 'section/section_2.scss';
@import 'section/section_3.scss';
@import 'section/section_4.scss';
@import 'section/section_5.scss';
@import 'section/section_6.scss';
@import 'section/section_footer.scss'   ;
@import 'page_info/first_section.scss'  ;
@import 'page_info/article_previe.scss' ;
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
img{
    max-width: 100%;
}
*{
    font-family: 'Roboto Condensed', sans-serif;
}
a{
    color: #fff;
    text-decoration: none;
    &:focus{
        color: #fff;
        text-decoration: none;
    }
    &:active{
        color: #fff;
        text-decoration: none;
    }
    &:link{
        color: #fff;
        text-decoration: none;
    }
}
body.main_page{
    background-image: url("../img/R_bg/abg.jpeg");
    background-size: cover;
    background-position: 40%;
    background-attachment: fixed;
    @media screen and (max-width: 600px) {
        background-image: none;
        background-color: #fff;
    }
}